<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="container-narrow">
      {% include navigation.html %}
      <div class="container-fluid">

	<div class="row-fluid">

	  <div class="span8">
	    {{ content }}
	  </div>
	  <div class="span4">
	    {% include sidebar_tag-cloud.html %}
	    
	    {% if page.sidebar_posts == 'related' %}
 	      {% include sidebar_related-posts.html %}
	    {% else %}
 	      {% include sidebar_recent-posts.html %}
	    {% endif %}

        {% include sidebar_adv.html %}
	  </div>

	</div><!--/row-fluid-->
      </div><!--/container-fluid-->

      {% include footer.html %}
    </div><!--/container-narrow-->

  {% if site.fokeme %}
    <a href="http://github.com/{{ site.github.username }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
  {% endif %}
  </body>
</html>
